---
layout: "layout.njk"
---
<script src="./src/utils.js"></script>
<script src="./src/preferences.js"></script>
 <!-- Javascript -->
<!-- Redirects to city_focus page--> 
<script>
   document.addEventListener("DOMContentLoaded", () => {
    const savedCity = localStorage.getItem("selectedCity") || "waterford";
    window.location.href = `/city_focus/?city=${savedCity}`;
    });
</script>


