---
layout: "layout.njk"
---
<script src="./src/utils.js"></script>
<script src="./src/preferences.js"></script>
 <!-- Javascript -->
<script>
   document.addEventListener("DOMContentLoaded", () => {
  // Get city from localStorage or fallback to a default
  const savedCity = localStorage.getItem("selectedCity") || "waterford";
  dotify.utils.changeCity(savedCity);
});


</script>

<!-- HTML code -->
<section>
    <div class="fixed-grid">
        <div class="grid">

            <div class="cell">
                <img src="assets/sun.png" class="image is-128sx128">
            </div>
            
            <!-- Max Temp and Max Wind -->
            <div class="cell">
                <div class="notification is-info is-dark">
                    <h1 class="is-size-4 has-text-weight-semibold has-text-white">Today's information</h1>
                </div>
                <div class="fixed-grid">
                    <div class="grid">
                        <div class="cell is-col-span-2">
                            <div class="box has-background-primary ">
                                <h1 class="title is-size-5">Right Now</h1>
            
                                <p id="cardRN" ></p>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="box has-background-primary">
                                <h1 class="title is-size-5">Max Temp</h1>
            
                                <p id="card1" ></p>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="box has-background-primary">
                                <h1 class="title is-size-5">Max Wind</h1>
            
                                <p id="cardWind" ></p>
                            </div>
                        </div>
    
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>
<section class="section">
    <div class="container ">
        <div class="notification is-info is-dark">
            <h1 class="is-size-5 has-text-weight-semibold  has-text-white ">Check the weather for the next 6 days</h1>
        </div>
        <div id="weekcards" class="columns is-multiline is-centered">

            <!--This area will be filled using Javascript-->
        </div>
    </div>
</section>

<br><br>
