---
layout: "layout.njk"
title: Dashboard
---
<script src="/src/preferences.js" type="module"></script>
<script src="/src/utils.js"></script>
 <!-- Javascript -->
<script>
    
    document.addEventListener("DOMContentLoaded", () => {
    const cityList = dotify.preferences.arrayCity;
     const suffix = "_CB";
    const retrieveStringArray = localStorage.getItem("favoriteCities");
    const favoriteCitiesList = JSON.parse(retrieveStringArray) || [];

    // Updating Title
    document.getElementById("cityName").textContent = "Preferences";
    const cardPrefrences = document.getElementById("cardPrefrences");

    cityList.forEach(city => {
        const column = document.createElement("div");
        column.classList.add("is-size-6", "mb-4");

       //if city is inside of array favoriteCitiesList, isChecked value  is "checked" or will be empt ( ternary expression).
        const isChecked = favoriteCitiesList.includes(city) ? "checked" : "";

        const cityNameFix = dotify.utils.formatName(city);
        column.innerHTML = `
            <li>
                <label class="checkbox">
                    <input id="${city + suffix}" type="checkbox" ${isChecked} />
                    ${cityNameFix}
                </label>
            </li>
        `;

        cardPrefrences.appendChild(column);
    });
});

    function updateFavoriteCities(event){
        console.log("you clicked the button");
        const cityList = dotify.preferences.arrayCity;
        const suffix = "_CB";
        let checkedList =[];

        cityList.forEach(city=>{
            var checkBox = document.getElementById(city+suffix);
            if (checkBox.checked == true){
                //console.log(city);
                checkedList.push(city);
                
            }
        });
        console.log(checkedList);
        let arrayToString = JSON.stringify(checkedList);   
        localStorage.setItem("favoriteCities", arrayToString);

    }

    function resetFavoriteCities(event){
        localStorage.removeItem("favoriteCities");
        location.reload();// refresh the page
    }
</script>

<!-- HTML code -->
<section class="section">
    <div class="container">
        <div class="box notification is-info is-dark">
           
            <div class="columns is-desktop">

                <!--City Favorities-->
                <div class="column is-6"> 
                    <div class="has-text-centered">
                        <h1 class="is-size-4 has-text-weight-semibold has-text-white">Favority Cities </h1>
                    </div> 
                    <div class="box column has-background-info-light m-5">
    
                        <div  class="checkboxes ">
                            <ul id="cardPrefrences">
    
                            </ul>
                        </div>
                        <br/>
                        <div>
                            <button class="button is-info is-dark m-1 p-3" type="submit" onclick="updateFavoriteCities(event)">Apply Changes</button>
                            <button class="button is-info is-dark m-1 p-3" type="submit" onclick="resetFavoriteCities(event)">Reset Favorites</button>
                        </div>
                    </div>
                </div>

                <!--Other Settings-->
                <div class="column is-6"> 
                    <div class="has-text-centered">
                        <h1 class="is-size-4 has-text-weight-semibold has-text-white">Favority Cities </h1>
                    </div> 
                    
                    <div class="box column has-background-info-light m-5">
    
                        <div  class="checkboxes ">
                            <ul id="cardSettings">
    
                            </ul>
                        </div>
                        <br/>
                        <div>
                            <button id="btnPref" class="button is-info is-dark m-1 p-3" type="submit" onclick="dotify.preferences.btnPref(event)">Apply Changes</button>
                        </div>
                        
                    </div>
                </div>

                </div>
                
              </div>
        </div>
    </div>
</section>
<br><br>
